src/*.exe
src/memecoin
src/memecoind
src/test_memecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.memecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
memecoin-qt
Memecoin-Qt.app

# Unit-tests
Makefile.test
memecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
